main {
    width: 850px;
    margin: auto;
}
figure {
    width: 850px;
    height: 450px;
    margin: auto;
}
img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 850px;
    height: 450px;
    
}
section {
    background-color: beige;
    width: 850px;
    height: 324px;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
article {
    
    width: 270px;
    height: 324px;
    margin-left: 20px;
    margin-top: 10px;
   
}
h1 {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 0;
  }
  h2 {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 0;
  }